@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: bisque;
  font-family: "Roboto", sans-serif;
  padding-top: 70px;
}

/* Nav-Bar */
header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 3;
  padding: 20px;
  box-shadow: 0 1px 8px rgb(87, 83, 83);
  background-color: white;
  height: 60px;
}

#nav-title {
  margin-right: auto;
  font-size: 1.5em;
}

ul {
  justify-content: flex-end;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #b2dfdb;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Card */

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background-color: blueviolet;
}
.card-grid {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 48px 0px;
  background-color: brown;
}
.row-1 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
  background-color: cadetblue;
}

.row-2 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
  background-color: rgb(119, 113, 86);
}

.card {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  /* align-items: center; */
  padding: 16px;

  background: #ffffff;
  /* Boxshadow_01 */

  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
  border-radius: 16px;

  /* Inside auto layout */

  /* flex: none; */
  /* order: 0; */
  /* align-self: stretch; */
  /* flex-grow: 0; */
  margin: 24px 0px;
}

.card-img {
  position: static;
  width: 128px;
  height: 128px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}

.card-text {
  margin-top: 10px;
  margin-left: 10px;
}

.right {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 24px;
}
