@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/* colorhunt link https://colorhunt.co/palette/2f5d625e8b7ea7c4bcdfeeea */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding-top: 80px;
  color: #337864;
  font-size: large;
}

article {
  padding-left: 20%;
  padding-right: 20%;
}

a {
  color: #555;
  text-decoration: none;
}

h1 {
  padding-bottom: 0.7rem;
}
h2 {
  padding-bottom: 0.7rem;
}
h3 {
  padding-bottom: 0.7rem;
}

/* Nav-Bar */
header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 3;
  padding: 20px;
  box-shadow: 0 1px 8px rgb(87, 83, 83);
  background-color: white;
  height: 60px;
  background-color: hsl(163, 20%, 71%);
  z-index: 1;
}

#nav-title {
  margin-right: auto;
  font-size: 1.5em;
  padding: 0;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #ffffff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Card */

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: flex-start;
  padding-left: 20%;
  padding-right: 20%;
}

.card {
  --padding: 1rem;
  background: white;
  border: none;
  border-radius: 0.35rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-header {
  padding: var(--padding);
  padding-bottom: 0;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-header.card-image {
  padding: 0;
  overflow: hidden;
}

.card-header.card-image > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card:hover > .card-header.card-image > img {
  transform: scale(1.04);
}

.card-body {
  font-size: 1.1rem;
  padding: 0 var(--padding);
}

.card-footer {
  margin-top: 1rem;
  padding: var(--padding);
  padding-top: 0;
}

.btn {
  background: hsl(163, 20%, 71%);
  color: rgb(0, 0, 0);
  border: none;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
}

.btn:hover {
  background: hsl(163, 20%, 81%);
}

/* Spliter */

.splitter {
  max-width: 20%;
  display: flexbox;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Start text */

.title-text {
  max-width: 25rem;
  padding-bottom: 1rem;
}

/* Techstack flex */

.tech-flex {
  display: flex;
  align-items: strech;
  align-items: baseline;
  justify-content: space-between;
}

.icon {
  max-width: 2em;
  max-height: 2em;
}
